header{
    background-color: #E9DFC6;
}
footer{
    background-color: #757150 ;
    color: white;
}
body{
    background-color: #E9DFC6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    background-color: #E9DFC6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.dropdown-menu{
    background-color: #757150 ;
}

.navbar-nav {
    margin-left: 10rem; 
    margin-right: 10rem;
}

/* PAGE D'IMC */
#container {
    color: black;
    max-width: 800px;
    width: 100%;
    background-color: #8f965f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Ajout pour centrer le conteneur */
}

        h3 {
            color: #333;
        }

        p {
            margin-bottom: 10px;
        }

        input {
            width: 100px;
            background-color: #8f965f;
        }

        button {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        thead {
            background-color: #f2f2f2;
        }

        textarea {
            color: black;
            width: 100%;
            margin-top: 10px;
        }
    #btn {
    margin-top: 10px;
    background-color: #403929;
    color: white;
    border: none;
    padding: 10px 20px;
    min-width: 150px; /* Ajout de la largeur minimale */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
#corpullence{
  width: 400px;
  background-color: #8f965f;
}
#poids, #taille{
  background-color: #fff;

}

#Dénutrition, #Maigreur, #Poidnormal, #Surpoids, #Obésitémodérée, #Obésitésévère, #ObésitéMorbideOuMassiv{
    width: 400px;
}